@import '../index.scss';

.join-room-screen{
  h1,
  .subtitle{
    color: $red;
  }

  .code{
    padding: 15px;
  }
}

.code{
  border: 1px solid $gray;

  input{
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  p.error-message{
    font-size: 14px;
    color: $red;
    font-style: italic;
  }

  @include breakpoint(large){
    width: 30%;
    margin: 0 auto;
  }
}