@import '../index.scss';

.title-screen{
  width: 375px;
  height: 667px;
  border: 1px solid red;
	background-image: url('/assets/title_screen/title_screen.jpg');
	background-size: contain;
}

.button.create-room-button{
  background-color: $blue;
}

.button.join-room-button{
  background-color: $green;
}