@import '../index.scss';

.lobby-screen{
  h1,
  .subtitle{
    color: $blue;
  }

  &.player2{
    h1,
    .subtitle{
      color: $red;
    }
  }
}

p{
  color: $gray;
}

.code{
  border: 1px solid $gray;

  p{
    font-size: 36px;
    font-weight: bold;
  }

  @include breakpoint(large){
    width: 30%;
    margin: 0 auto;
  }
}