@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
.app,
#root {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%; }

h1 {
  margin: 0; }

h1.title {
  color: gray; }

p {
  color: #4A4A4A;
  margin: 0; }

.subtitle {
  margin-top: 10px; }

.player-ready {
  border: 5px solid red;
  background-color: pink;
  width: 100%;
  height: 300px;
  margin: 25px auto 25px; }

button {
  display: block;
  background-color: gray;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 15px;
  border: 0;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif; }
  @media (min-width: 70em) {
    button {
      width: 30%; } }

.bottom-buttons {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  display: block; }
  .bottom-buttons button {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto; }

.container {
  padding: 25px; }

.screen {
  text-align: center;
  position: relative;
  height: 100%;
  overflow: hidden; }

a.exit-button {
  text-decoration: none;
  font-size: 20px;
  color: #4A4A4A;
  position: absolute;
  left: 25px;
  bottom: 25px; }

.code-area > p {
  margin-bottom: 5px; }

.code {
  border: 1px solid #CCCCCC;
  margin: 0 auto;
  padding: 0;
  width: 100%; }
  .code p {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    height: 56px;
    line-height: 56px; }
  .code input {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 56px;
    height: 56px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: black;
    border: 0; }
  .code p.error-message {
    font-size: 14px;
    color: #DF5455;
    font-style: italic; }

.lobby-screen {
  height: 667px;
  width: 375px;
  background-color: white; }
  .lobby-screen h1,
  .lobby-screen .subtitle {
    color: #276980; }
  .lobby-screen.player2 h1,
  .lobby-screen.player2 .subtitle {
    color: #DF5455; }

.start-game-button {
  background-color: #007100; }
