@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
.app,
#root {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%; }

h1 {
  margin: 0; }

h1.title {
  color: gray; }

button {
  display: block;
  background-color: gray;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 15px;
  border: 0;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif; }
  @media (min-width: 70em) {
    button {
      width: 30%; } }

.bottom-buttons {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  display: block; }
  .bottom-buttons button {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto; }

.container {
  padding: 25px; }

.screen {
  text-align: center;
  position: relative;
  height: 100%;
  overflow: hidden; }

a.exit-button {
  text-decoration: none;
  font-size: 20px;
  color: #4A4A4A;
  position: absolute;
  left: 25px; }

.game-screen {
  background-size: contain;
  background-repeat: no-repeat;
  height: 667px;
  width: 375px;
  border: 1px solid orange; }
  .game-screen.high {
    background-image: url("/assets/backgrounds/background-high.jpg"); }
  .game-screen.med {
    background-image: url("/assets/backgrounds/background-med.jpg"); }
  .game-screen.medlo {
    background-image: url("/assets/backgrounds/background-medlo.jpg"); }
  .game-screen.lo {
    background-image: url("/assets/backgrounds/background-lo.jpg"); }

.players {
  height: 50%; }

.player {
  border: 1px solid red;
  display: block;
  top: 130px;
  position: absolute; }
  .player.player-1 {
    border: 1px solid green;
    left: 20px; }
    .player.player-1.player-1-attack {
      left: 100px; }
    .player.player-1 .attack-weapon {
      top: -14px;
      left: 87px; }
  .player.player-2 {
    border: 1px solid purple;
    right: 20px; }
    .player.player-2.player-2-attack {
      left: 100px; }
    .player.player-2 .attack-weapon {
      top: -14px;
      right: 87px; }
  .player img {
    width: 130px;
    height: 120px; }

.health-container .player-1,
.health-container .player-2 {
  display: block;
  position: absolute;
  top: 0; }

.health-container .player-1 {
  left: 25px;
  top: 0; }

.health-container .player-2 {
  right: 25px;
  top: 0; }

.player-2 img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.icon {
  width: 25px;
  height: 25px; }

img.attack-weapon {
  width: 38px;
  height: 100px;
  position: absolute; }

.health {
  font-weight: bold;
  font-size: 20px; }

.game-ui {
  background-color: gray;
  opacity: 0.8;
  height: 50%;
  padding: 20px; }

.weapons, .attack-button {
  vertical-align: top; }

.weapons {
  display: inline-block;
  margin-right: 25px;
  float: left;
  width: 150px; }

.weapon {
  background-color: white;
  height: 100px;
  margin-top: 20px; }
  .weapon.disabled {
    background-color: black;
    opacity: 0.5; }
    .weapon.disabled .weapon-image {
      border: 1px solid white; }

.weapon-image {
  border: 1px solid #4A4A4A; }
  .weapon-image img {
    width: 150px;
    height: 50px; }

.weapon-cost p, .weapon-cost img {
  display: inline-block;
  vertical-align: middle; }

.money {
  color: #4A4A4A;
  font-weight: bold;
  font-size: 30px;
  text-align: left; }
  .money img {
    margin-right: 10px; }
  .money p, .money img {
    display: inline-block; }
  .money span {
    font-size: 14px; }

button.attack-button {
  width: 150px;
  float: right;
  background-color: white;
  color: #4A4A4A;
  height: 220px; }
