@import '../index.scss';

.game-screen{
  background-size: contain;
  background-repeat: no-repeat;
  height: 667px;
  width: 375px;
  border: 1px solid orange;

  &.high{
    background-image: url('/assets/backgrounds/background-high.jpg');
  }

  &.med{
    background-image: url('/assets/backgrounds/background-med.jpg');
  }

  &.medlo{
    background-image: url('/assets/backgrounds/background-medlo.jpg');
  }

  &.lo{
    background-image: url('/assets/backgrounds/background-lo.jpg');
  }
}

.players{
  height: 50%;
}

.player{
  border: 1px solid red;
  display: block;
  top: 130px;
  // margin-top: 50px;
  // position: relative;
  position: absolute;

  &.player-1{
    border: 1px solid green;
    left: 20px;

    &.player-1-attack{
      left: 100px;
    }

    .attack-weapon{
      top: -14px;
      left: 87px;
    }
  }

  &.player-2{
    border: 1px solid purple;
    right: 20px;

    &.player-2-attack{
      left: 100px;
    }
    
    // this is a guess.
    .attack-weapon{
      top: -14px;
      right: 87px;
    }
  }

  img{
    width: 130px;
    height: 120px;
  }
}

.health-container .player-1,
.health-container .player-2{
  display: block;
  position: absolute;
  top: 0;
}


.health-container .player-1{
  left: 15px;
  top: 0;
}

.health-container .player-2{
  right: 15px;
  top: 0;
}

// reverses player2 assets
.player-2{

  img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

.icon{
  width: 25px;
  height: 25px;
}

img.attack-weapon{
  width: 38px;
  height: 100px;
  position: absolute;
}

.health-container{

  .player-1 .life-counter{
    
  }

  .player-2 .life-counter{
    justify-content: flex-end;
  }

  .life-counter{
    width: 160px;
    display: flex;
    flex-flow: row nowrap;
    // border: 1px solid orange;
    height: 25px;
    margin-top: 10px;

    img{
      display: block;
      width: 25px;
      height: 25px;
      // border: 1px solid red;
      flex: 0 0 25px;
      margin-right: 4px;
    }

    .health{
      margin:0;
      background-color: red;
      display: block;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: black;
      // border: 1px solid pink;
      width: 100px; // temporary
      height: 25px;
      flex: 0 0 75px;
    }
  }

  p.player-marker{
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
  }

  .player-1 p.player-marker{
    text-align: left;
  }

  .player-2 p.player-marker{
    text-align: right;
  }
}

.game-ui{
  background-color: #333333;
  // opacity: 0.8;
  height: 50%;
  padding: 20px;
}

.money{
  // border: 1px solid red;
  color: $gray;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 25px;
  margin-left: -3px;

  img{
    margin-right: 4px;
    // border: 1px solid pink;
    flex: 0 0 25px;
  }

  p{
    font-weight: bold;
    font-size: 30px;
    line-height: 25px;
    flex: 1 0 100px;
    border: 1px solid green;
    width: 100px;
    height: 25px;
    margin: 0;
    color: $gold;

    span{
      font-size: 14px;
      display: inline-block;
    }
  }
}

.weapons {
  // border: 1px solid orange;
  display: inline-block;
  margin-right: 20px;
  float: left;
  width: 160px;
}

.weapon {
  background-color: white;
  height: 128px;
  border-radius: 2px;
  // margin-top: 20px;

  + .weapon{
    margin-top: 20px;
  }

  &.disabled{
    // background-color: black;
    opacity: 0.5;

    .weapon-image{
      // border: 1px solid white;
    }
  }
}

.weapon-image{
  // border: 1px solid red;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  img{
    // border: 1px solid pink;
    width: 150px;
    height: 50px;
  }
}

.weapon-cost{
  background-color: #DDDDDD;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  
  p,img{
    display: inline-block;
    vertical-align: middle;
  }

  img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}

button.attack-button {
  width: 155px;
  // float: right;
  background-color: $dark-red;
  color: lighten($red, 20%);
  height: 281px;
}