@import '../index.scss';

.players{
  height: 50%;
}

.player{
  display: inline-block;
  width: 50%;
  margin-top: 50px;

  img{
    width: 130px;
  }
}

.player-1{

  .health-container{
    position: absolute;
    left: 0;
    top: 0;
  }
}

.player-2{
  
  .health-container{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.health-container{

  .player-1,
  .player-2{
    display: inline-block;
    width: 50%;
  }
}

.player-1{
  text-align: left;
  p,img {
    margin-left: 25px;
  }
}
.player-2{
  text-align: right;
  p,img {
    margin-right: 25px;
  }
}

.health{
  font-weight: bold;
  font-size: 20px;
}

.game-ui{
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 50%;
  padding: 20px;
}

.weapons, .attack-button{
  vertical-align: top;
}

.weapons {
  display: inline-block;
  width: 50%;
}

.weapon {
  background-color: white;
  height: 100px;
  margin-top: 20px;
}

.money{
  color: $gray;
  font-weight: bold;
  font-size: 30px;
  text-align: left;

  span{
    font-size: 14px;
  }
}

button.attack-button {
  width: 50%;
  display: inline-block;
  background-color: white;
  color: $gray;
  height: 200px;
}