$gray: #4A4A4A;
$blue: #276980;
$light-blue: #4C83CB;
$light-teal: #60FCFD;
$red: #DF5455;
$dark-red: #A30D13;
$green: #007100;
$gold: #F6C44B;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@mixin breakpoint($point) {
  @if $point == large {
     @media (min-width: 70em) { @content ; }
  }
    @else if $point == medium {
     @media (min-width: 50em) { @content ; }
  }
  @else if $point == small {
    @media (max-width: 37.5em)  { @content ; }
  }
}

html,
.app,
#root{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h1{
  margin:0;
}

h1.title{
  color: gray;
}

p{
  color: $gray;
  margin: 0;
}

.subtitle{
  margin-top: 10px;
}

.player-ready{
  border: 1px solid green;
  width: 300px;
  height: 300px;
  margin: 25px auto 25px;
}

button{
  display: block;
  background-color: gray;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 15px;
  border: 0;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;

  @include breakpoint(large){
    width: 30%;
  }
}

.bottom-buttons{
  position: absolute;
  bottom: 50px;
  left:0;
  width: 100%;
  display: block;

  button{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container{
  padding: 25px;
}

.screen{
  text-align: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}

a.exit-button{
  text-decoration: none;
  font-size: 20px;
  color: $gray;
  position: absolute;
  // bottom: 0;
  left: 25px;
  bottom: 25px;
}

// CODE

.code-area{
  border: 1px solid red;

  > p{
    margin-bottom: 5px;
  }
}

.code{
  border: 1px solid $gray;
  margin:0;
  padding:0;

  p{
    margin:0;
    padding:0;
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    height: 56px;
    line-height: 56px;
  }

  input{
    margin:0;
    padding:0;
    font-size: 36px;
    line-height: 56px;
    height: 56px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: black;
  }

  p.error-message{
    font-size: 14px;
    color: $red;
    font-style: italic;
  }
}