$gray: #4A4A4A;
$blue: #276980;
$red: #DF5455;

@mixin breakpoint($point) {
  @if $point == large {
     @media (min-width: 70em) { @content ; }
  }
    @else if $point == medium {
     @media (min-width: 50em) { @content ; }
  }
  @else if $point == small {
    @media (max-width: 37.5em)  { @content ; }
  }
}

html,
.app,
#root{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

h1.title{
  color: gray;
}

button{
  display: block;
  background-color: gray;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 15px;

  @include breakpoint(large){
    width: 30%;
  }
}

.container{
  padding: 25px;
}

.screen{
  text-align: center;
  position: relative;
  height: 100%;
}

a.exit-button{
  text-decoration: none;
  font-size: 20px;
  color: $gray;
  position: absolute;
  // bottom: 0;
  left: 25px;
}